.intro-content {
  position: relative;
  top: -8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
}

.intro-text-content h2 {
  font-size: 6rem;
  margin-bottom: 8rem;
  text-transform: uppercase;
}
